body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    
    top: 15%;
	background: linear-gradient(to right, rgb(10, 245, 151), rgb(57, 89, 198))
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .2em;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 5%;
    text-transform: uppercase;
}

h2 {
    font: 600 1.5em 'Raleway', sans-serif;  
}

h3 {
	font: 700 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;
}

.gone {
    visibility: hidden;
    display: none;
}